---
layout: default
---

<div class="ui vertical masthead center aligned segment">
  <div class="ui container">
    <div class="ui huge menu">
      {% include menu.html right=true toc=true %}
    </div>
  </div>

  <div class="ui text container">
    <h1 class="ui header">{{ site.title }}</h1>
    <h2>{{ site.byline }}</h2>
    <div class="ui massive primary order button">
      <i class="add to calendar icon"></i>
      Bestill time
    </div>
  </div>
</div>


<!-- Treatments -->
<div class="ui vertical stripe segment" id="behandlinger">
  <div class="ui text container">
    <h3 class="ui header">{{ site.title }}</h3>

    <p>En moderne tannklinikk i hjertet av Narvik sentrum – tuftet på kvalitet,
    trygghet og et høyt faglig nivå med pasienten i sentrum.</p>
  </div>

  <div class="ui stackable container">
    <h4 class="ui horizontal divider header">
      Behandlinger
    </h4>
  </div>

  <div class="ui stackable three column centered grid container">
  {% for treatment in site.treatments %}
    {% assign base = "assets/medical/svg" %}

    <div class="column">
      <a href="{{ treatment.url }}" class="ui icon header" style="font-size: x-large;">
        <img src="{{ base }}/{{ treatment.image }}.svg" class="ui tiny image">
        <div class="content">{{ treatment.title }}</div>
      </a>

      <p>{{ treatment.excerpt | remove: '<p>' | remove: '</p>' }}</p>
    </div>
  {% endfor %}
  </div>
</div>


<!-- About -->
<div class="ui vertical stripe segment" id="om-oss">
  <div class="ui text container">
    <h1 class="ui header">Om Oss</h1>

    <p>Tannlegene i Sentrumsgården ble etablert i 1993 i hjertet av Narvik
    sentrum, og har siden utviklet seg til en moderne tannklinikk - tuftet på
    kvalitet, trygghet og et høyt faglig nivå med pasienten i sentrum.</p>

    <p>Klinikken har et solid fokus på faglig kunnskap, kombinert med trivelig
    og behagelig tannbehandling. Kombinasjonen av erfarne og nyutdannede
    tannleger gir en god balanse av erfaring og oppdatert faglig kunnskap.
    Tannklinikken har samlet over 80 års erfaring.</p>

    <p>Virksomheten har også sertifisert tanntekniker tilknyttet klinikken, som
    gir arbeid av høy kvalitet og rask behandling når det trengs. Dette er et
    unikt samarbeid som sikrer best mulig resultat for pasienten.</p>
  </div>

  <div class="ui stackable container">
    <h4 class="ui horizontal divider header" id="behandlinger">
      Personale
    </h4>
  </div>

  <div class="ui four stackable cards container">
  {% for dentist in site.data.dentists %}
    <div class="card">
      <div class="image">
        <img src="/assets/dentists/{{ dentist.image }}-512.jpg">
      </div>
      <div class="content">
        <div class="header">{{ dentist.name }}</div>
        <div class="meta">{{ dentist.title }}</div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>


<!-- Contact information -->
<div class="ui vertical stripe segment" id="kontakt">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <img src="assets/graphics/staticmap.png" class="ui fluid rounded image">
      </div>
      <div class="six wide right floated column">
        <h3 class="ui header">Kontaktinformasjon</h3>

        {% include contact.html %}
      </div>
    </div>
  </div>
</div>


<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Du finner du oss i Sentrumsgården</h3>

        <p>Midt mellom de to kjøpesenterene i Narvik finner du et rødt stort bygg i Kongensgate.
        Dette er Sentrumsgården i Narvik som rommer flere bedrifer. I underetasjen ligger NAV. 
        Ta trappen eller heisen opp i 4. etasje hvor det vil være skiltet til tannlegekontoret.</p>

        <h3 class="ui header">Kom innom for en trivelig konsultasjon</h3>

        <p>Vi er åpen alle hverdager fra 08.00-15.30 og er behjelpelig uansett problem. Vi vet at tannplager
        kan komme raskt og være svært ubehagelig, derfor prøver vi alltid å ha tilgjengelig tid til
        akutt-timer. Vi ønsker deg velkommen!</p>
        
      </div>
      <div class="six wide right floated column">
        <img src="assets/facilities/aesthetics.jpg" class="ui medium rounded image">
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a class="ui huge button">Til toppen</a>
      </div>
    </div>
  </div>
</div>


<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3 class="ui header">"Fun fact september"</h3>
        <p>Viste du at 6 uker ut i forsterlivet begynner melketennene og dannes</p>
      </div>

      <div class="column">
        <h3 class="ui header">"Vi støtter forskning"</h3>
        <p>
          <img src="assets/medical/svg/ribbon.svg" class="ui avatar image">
          <b>Cumque</b> Vi donnerer månedlig støtte til forskning
        </p>
      </div>
    </div>
  </div>
</div>


{% include modal.html %}
