---
layout: default
---

<div class="ui vertical masthead center aligned segment">
  <div class="ui container">
    <div class="ui huge menu">
      {% include menu.html right=true toc=true %}
    </div>
  </div>

  <div class="ui text container">
    <h1 class="ui header">{{ site.title }}</h1>
    <h2>{{ site.byline }}</h2>
    <div class="ui massive primary button">
      <i class="add to calendar icon"></i>
      Bestill time
    </div>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui text container">
    <h3 class="ui header prototype">Suscipit qui iusto iusto</h3>

    <p class="prototype">Rem et ratione porro. Tenetur et neque corporis
    molestias corporis. Et provident quasi voluptates nihil quo corrupti qui
    ex. Mollitia aliquid libero ut non at praesentium a. Ad iusto sit facere
    non et debitis dicta vero. Error culpa odio omnis.</p>

    <a class="ui large button prototype">Ipsum enim</a>
  </div>

  <div class="ui stackable container">
    <h4 class="ui horizontal divider header prototype" id="behandlinger">
      Corporis exercitationem esse impedit
    </h4>
  </div>

  <!-- Treatments -->
  <div class="ui stackable three column centered grid container">
  {% for treatment in site.data.treatments %}
    {% assign base = "assets/medical/svg" %}

    <div class="column">
      <h2 class="ui icon header prototype">
        <img src="{{ base }}/{{ treatment.image }}.svg" class="ui tiny circular image">
        <div class="content">{{ treatment.title }}</div>
      </h2>

      <p class="prototype">{{ treatment.desc }}.</p>
    </div>
  {% endfor %}
  </div>

  <div class="ui stackable container">
    <h4 class="ui horizontal divider header prototype" id="tannleger">
      Corporis exercitationem esse impedit
    </h4>
  </div>

  <!-- Dentists -->
  <div class="ui three stackable cards container">
  {% for dentist in site.data.dentists %}
    {% assign base = "assets/avatars/svg" %}

    <div class="card">
      <div class="image">
        <img src="{{ base }}/{{ dentist.image }}.svg">
      </div>
      <div class="content">
        <div class="header">{{ dentist.name }}</div>
        <div class="meta">{{ dentist.title }}</div>
        <div class="description prototype">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus
          dui metus, vitae rhoncus sem bibendum vel. Ut ac commodo magna. Aenean
          placerat turpis sollicitudin arcu congue placerat.
        </div>
      </div>
      <div class="extra content">
        <span class="right floated prototype">Lorem ipsum</span>
        <span class="left floated prototype">Lorem ipsum</span>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header prototype">Suscipit qui iusto iusto</h3>

        <p class="prototype">Suscipit qui iusto iusto. Doloremque sit est
        reprehenderit. Eius quas in culpa culpa voluptatum. Libero consequatur
        eum dolorum itaque soluta aut.</p>

        <h3 class="ui header prototype">Suscipit qui iusto iusto</h3>

        <p class="prototype">Suscipit qui iusto iusto. Doloremque sit est
        reprehenderit. Eius quas in culpa culpa voluptatum. Libero consequatur
        eum dolorum itaque soluta aut.</p>
      </div>
      <div class="six wide right floated column">
        <img src="assets/medical/svg/canine.svg" class="ui large circular image">
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a class="ui huge button prototype">Suscipit qui iusto</a>
      </div>
    </div>
  </div>
</div>


<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3 class="prototype">"Cumque explicabo molestiae"</h3>
        <p class="prototype">Quas eveniet sapiente voluptatem dolorum</p>
      </div>

      <div class="column">
        <h3 class="prototype">"Cumque explicabo molestiae"</h3>
        <p class="prototype">
          <img src="assets/medical/svg/ribbon.svg" class="ui avatar image">
          <b>Cumque</b> Est dolores expedita culpa
        </p>
      </div>
    </div>
  </div>
</div>
