<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="four wide column">
        <h4 class="ui inverted header">Kontaktinformasjon</h4>

        {% include contact.html footer=true %}
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header prototype">Ipsum enim</h4>
        <div class="ui inverted link list">
          <a href="#" class="item prototype">Nesciunt atque esse</a>
          <a href="#" class="item prototype">Cumque explicabo</a>
          <a href="#" class="item prototype">Est dolores</a>
          <a href="#" class="item prototype">Ut nam suscipit</a>
        </div>
      </div>
      <div class="eight wide column">
        <p>Vi er medlemmer av Den Norske Tannlegeforening. Vi er registrert i
        Enhetsregisteret.</p>

        <p>Vi er medlemmer av Norsk Pasientskade- erstatning <a href="http://www.npe.no">(NPE)</a>.</p>
      </div>
    </div>
  </div>
</div>
